ul li {
	background: #f0f0f0;    /* Light gray background */
  color: #333;            /* Dark text color */
  margin: 5px 0;          /* Margin on the top and bottom */
  padding: 10px;          /* Inner padding */
  border-radius: 5px;     /* Rounded corners */
  font-size: 1.5rem;
}
